# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\user\Sagi\EAD3MidtermSagi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
